body{
    background-color: crimson;
}
li {
    display: inline;
}
li {
    float: right;
  }
  
  a {
    display: table-footer-group;
    padding-inline-start: 40px;    
    box-sizing: 40px;
    place-items: 40px;
    

    
  }

  ul {
    list-style-type: none; /* sirve para el estilo de la lista*/
    margin: 0px; /* sirve para el margen en la pestaña de nav. */
    padding-left: 130px; /* el padding se encarga del tab desde el inicio de pestaña de nav.  */
    overflow: hidden; /* Borde completo de la barra, con propiedades Clip, Scroll, hidden, (Scroll agrega barras de desplamiento  */
    background-color: teal; /* Cambia el color de fondo de la barra */
    border: 3px solid green; /* Cambia el color del borde, solid tipo de fundido, 3px el grosor */
  }
  
  li {
    float: left;
    padding-left: 10px;
    
  }
  
  li a {
    display: block;
    color:white; /* Color de letra de los Item de la penstaña nav. */
    text-align: center; /* Hubica izquierda, dercha o centrada la letra en el item. */
    padding: 6px 8px; /* Cambia el tamaño del item de la Pestaña nav*/
    text-decoration: none;
    animation-play-state: inherit;
    font-size: 20px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: red ;
  }
  nav 
  {
    width: 700px;
    height: 10px;
    margin-top: 0px;
    align-self: center;
    align-content: center;
    margin-left: 300px;
    
  }

  