h1
{
    margin-top: 2px;
    color: white;
    text-align: center;
    font-size: 27px;
    padding: 1px;
}

h1 p 
{
    font-size: 18px;
}

body{ background-color: black;}

h1:hover{color: goldenrod;}
h1 p:hover{ color: cyan;}